.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 600px;
    /* background: red; */
    padding: 10px;
    gap: 10px;
    

}

