.container {
	display: flex;
	gap: 100px;
	padding: 20px;
}

.textContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.subtitle {
	color: var(--blue)
}

.title {
	font-size: 54px;
}

.desc {
	font-size: 20px;
	font-weight: 300;
}

.boxes {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	/* background:red; */
}

.box {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.box h1 {
	color: var(--blue);
}

.imgContainer {
	flex: 1;
	position: relative;
}

.img {
	object-fit: contain;
}

@media (max-width: 768px) {
	.container {
		flex-direction: column;
		text-align: center;
	}

	.boxes {
		flex-direction: column;
		gap: 50px;
	}
}



@media (max-width: 1024px) {
	.textContainer {
		flex: 1;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}


	.imgContainer {
		display: none;
	}

	.container {
		flex-direction: column;
	}


	.title {
		font-size: 36px;
	}

	.subitle {
		font-size: 26px;
	}

	.desc {
		font-size: 20px;
	}

}