.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  width: 600px;
  /* margin: 30px; */
  background: white;
  padding: 20px;
  position: static;
  }
  
  .container input,
  .container textarea,
  .container select {
    padding: 20px;
    background-color: var(--bgSoft);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
  }
  
  .container button {
    padding: 20px;
    cursor: pointer;
    background-color: var(--btn);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
    font-weight: bold;
  }

  .fieldset{
    padding: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 40px;

    /* background: red; */
  }

  .password{
    position: fixed;
  }

  .avatar{
    width: 30px;
    height: 30px;
    position: relative;
    top:-37px;
    left:530px;
    margin: -25px;;
  }