.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.explore{
    height: fit-content;
    width: max-content;
    padding: 10px;
    background: var(--green);
    border-radius: 5px;
    color: white;
    font-size: 20px;
            
}

.explore:focus{
    background: white;
        /* border: 1px solid black; */
        color: var(--green);
        
    }


.logOut {
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background: var(--btn);
    border-radius: 5px;
    color: white;
    font-size: 20px;
}



.logIn {
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background: var(--blue);
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.logIn:active{
    background: white;
        /* border: 1px solid black; */
        color: var(--blue);
    }


.logOut:active{
        background: white;
            /* border: 1px solid black; */
            color: var(--blue);
        }

.link.active {

    /* background-color: var(--blue); */
    color: var(--blue);
    transform: scale(1.5);
}


@media screen and (max-width: 1280px) {

    .container {
        flex-direction: column;
        align-items: flex-end;
        /* justify-content: baseline; */

    }


    .rightContainer {

        height: fit-content;
        width: 100%;
        display: flex;
    }


    
.Users,.Blogs,.Places {
    
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
}