.container {

    display: flex;
    height: 100px;
    width:100% ;
    align-self: center;
    justify-self: center;
    /* justify-content: space-between; */
    z-index: 1;
    margin: 0px;
    background: white;
    /* box-shadow: 0px 0px 5px 5px #fff ; */
    position: fixed;

}

.img {
    display: none;

}

.linksContainer {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    /* background: red; */
    position: relative;

}


.logoContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.Logo {
    font-weight: bolder;
    font-size: 35px;
    cursor: pointer;
    padding-left: 10px;
}


@media (max-width: 1280px) {

    .container {


        height: fit-content;
        display: flex;
        align-items: flex-start;
        padding: 20px;
    }

    .linksContainer {
        height: 100vh;
        display:none ;
        transition: ease 3s  ;
    }

    .linksContainer.active{
        display: block;
    }

    .img {
        display: block;
        /* position: fixed; */
        /* top: 30px; */
        /* right: 20px; */
        cursor: pointer;
        /* padding-right: 10px; */
        /* filter: grayscale(10); */
    }

    .container.active {
        display: none;

    }

    .Logo {
        font-size: 25px;
    }
}