.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
    /* background: yellow; */
}

.post {
    width: 30%;
}



.box1 {

    /* display: none; */
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    margin: auto auto;
}

.box2 {

    flex: 1;
    /* background: red; */
    height: 100%;
    width: 100%;
    /* background:green; */
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 1280px) {
    
    .container {
        flex-direction: column;
    }
    
    .post {
        width: 45%;
    }

    .box1{
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .post {
        width: 100%;
    }
}
