.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.form input {
    padding: 20px;
    background-color: var(--blue);
    color: var(--textColor);
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.form button {
    padding: 20px;
    cursor: pointer;

    background-color: var(--btn);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    /* color: white; */
    color: var(--textColor);
    
    font-size: 20px;
}